<header>
	<div class="menu">
		<ul> 
			<li><a href="dashboard.html">Dashboard</a></li>
	 		<li><a href="">Campaigns</a></li>
			<li class="active"><a href="">Job Board</a></li>
			<li><a href="">Landing Pages</a></li>
			<li><a href="">Email Blasts</a></li>
			<li><a href="">QR Codes</a></li>
			<li><a href="">Quick Connect</a></li>
            <li><a href="">App Manager</a></li>
	 		<li><a href="">Reporting</a></li>
		</ul>
	</div>
    
    <div class="menu-btn flex-all">
    	<div class="menu-btn-wrap"><span></span><span></span><span></span></div>
    </div>
    <a href="<%= root_path %>" class="logo"><%= image_tag("logo.png", height: "80") %></a> 
    <div class="header-right">
        <div class="account-menu clearfix">
        	<div class="avatar flex-v">
        		<span>Welcome, Pat</span>
        		<%= image_tag("avatar.png", height: "40") %>
        	</div>
        </div>
    </div>
</header>